@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model AntiqueBookstore.Domain.Entities.Author

@{
    ViewData["Title"] = "Author Details";
}

<h1>Author Details</h1>

<div>
    <h4>Author</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeathYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeathYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
        <a asp-action="Index">Back to List</a>
    </div>
</div>




